.custom-tab-bar {
    background-color: white;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  .custom-tab-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
  }
  
  .tab-icon {
    font-size: 1.5rem;
    color: gray;
  }
  
  .custom-tab-button .tab-label {
    color: gray;
    font-size: 0.875rem;
    margin-top: 5px;
  }
  
  .custom-tab-button .active-tab {
    color: red;
  }
  
  .custom-tab-button:focus .tab-label,
  .custom-tab-button:active .tab-label {
    color: red;
  }
  
  .custom-tab-button:focus .tab-icon,
  .custom-tab-button:active .tab-icon {
    color: red;
  }
