.content-fullscreen {
    background: #F6F9F9;
}

.cart-no-items {
    flex-direction: column;
    gap: 1rem;
    padding: 7.5vh 9.5vw;
}

.internal-container {
    display: flex;
    width: 335px;
    height: 366px;
    padding: 41px 25px 41px 26px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(192, 29, 46, 0.20);
}

.container {
    max-height: 520px;
    display: inline-flex;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    border-radius: 10px;
    border: 1px solid var(--Primary-Base, #C01D2E);
    background: #FFF;
}

.empty {
    color: var(--main-color, #0C1D2E);
    text-align: center;

    /* headings/H2 */
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 30.8px */
    text-transform: capitalize;
}

.empty-para {
    color: #748BA0;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    /* text style 16 */
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: -5px;
    /* 24px */
}

.btn-container {
    margin-top: 10px;
    width: 335px;
}

.menu-button {
    border-radius: 10px;
    border: 1px solid var(--Primary-Base, #C01D2E);
    background: var(--Primary-Base, #C01D2E);
    color: var(--secondary-color);
    width: 100%;
    height: 2.5rem;
    font-size: 1.1rem;
}

.order {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 2.5vh;
    border-radius: 10px;
    background: #FFF;
    width: 80vw;
    height: 15.8vh;
    flex-shrink: 0;
    justify-content: space-between;
}

.order img {
    width: 100px;
    height: 100%;
    border-radius: 10px;
}

.order-details h3 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    color: #748BA0;
}

.order-details p {
    color: var(--main-color, #0C1D2E);
    font-family: "DM Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 21px */
}

.quantity-counter {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
    gap: 0.5rem;
    margin-left: 10px;
    margin-right: 15px;
}

.total {
    padding-left: 15px;
    margin-top: 25px;
    background: #FFF;
    margin-left: 5px;
    width: 80vw;
    height: auto; /* Adjust height to auto to fit content */
    padding-bottom: 1rem; /* Add padding to the bottom */
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--Primary-Base, #C01D2E);
}

.ordder-counter {
    padding-left: 15px;
}

.quantity-icon {
    background-color: #E6F3F8;
    border-radius: 50%;
}

.line {
    background-color: #748BA0;
    width: 95%;
    height: 2px;
    margin-right: 5px;
}

.order-counter {
    padding-left: 10vw;
    padding-top: 5vh;
}

.dyna-price {
    margin-left: 45vw;
}

.total-price {
    margin-left: 50vw;
}

.total-content {
    color: var(--text-color, #748BA0);
    /* text style 14 */
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    align-items: center;
    
    /* 21px */
}

.checkout-button{
    width: 82vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 100px;
}

.apply-promo{
    display: flex;
    margin-top: 2.5vh;
    align-items: center;
    color: #C01D2E;
    cursor: pointer;
}

.order-discount-checkbox{
    margin-left: 1vw;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 3px solid #C01D2E;
    border-radius: 4px;
    background-color: #FFF;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.order-discount-checkbox:checked {
    background-color: #C01D2E;
    border: 3px solid #C01D2E;
}

.order-discount-checkbox:checked::after {
    content: '✔';
    color: #FFF;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dyna-price-reward{
    margin-left: 42vw;
    align-items: center;
}

.reward-content{
    color: #C01D2E;
    text-decoration: underline;
    cursor: pointer;
}

