/* SignIn.css */

:root {
    --background-color: #F6F9F9;
    --primary-color: #dc3545;
    /* Danger color */
    --text-color: #6c757d;
    /* Gray color */
}

ion-page {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center vertically */
    align-items: center;
    /* Center horizontally */
    height: 100vh;
    /* Full height */
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
    /* Center text */
}

p {
    color: var(--text-color);
    margin-bottom: 1.5rem;
    text-align: center;
    /* Center text */
}

.ion-item {
    margin-bottom: 1rem;
    width: 80%;
    /* Set a width for input items to keep them centered */
}

.ion-input {
    padding-left: 2rem;
    /* Ensure enough padding for icons */
}

.ion-icon {
    cursor: pointer;
    /* Change cursor to pointer for interactive icons */
}

.flex {
    display: flex;
    justify-content: center;
    /* Center children horizontally */
    align-items: center;
    /* Center children vertically */
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.text-center {
    text-align: center;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.text-gray-500 {
    color: var(--text-color);
}

.space-x-4>*+* {
    margin-left: 1rem;
}

/* Additional styles for centering footer content */
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    /* Add some padding */
}