:root {
    --primary-color: #E50914;
    --red-color: #DB3130;
    --secondary-color: #ffffff;
    --text-color: #000000;
    --card-bg-color: #f8f8f8;
    --button-color: #ff6347;
    --icon-color: #f1c40f;
  }
  